@model FinalFSpacerApp.Models.SpacerCard
@{
    ViewData["Title"] = "Calculated Spacer Length";
}

<h1>Calculated Spacer Length</h1><br />

<div class= "spacerlength">
    <h2>Vertical: @Model.VerticalSpacerLength</h2><br />
    <h2>Horizontal: @Model.HorizontalSpacerLength </h2>
</div>

