@{
    ViewData["Title"] = "Home Page";
}

<h1>Amarillo Gear Company</h1>

<h2>Serving you since 1917</h2>

<p>Amarillo Gear Company has been in operation since 1917, in Amarillo, Texas. We have been manufacturing and shipping an unparalleled line of gearboxes worldwide since 1934.<br /><br />

Our first product line consisted of right angle drives used with vertical turbine pump applications. In the beginning, when combined with a pump and engine, these right angle pump drives were generally used for agricultural irrigation.<br /><br />

<h2>Our Products</h2>

Today, our pump drives are still used in many irrigation applications, but are also heavily used with fire water protection systems, marine liquid barge systems, flood control operations, sewage and water treatment systems, and other industrial applications.<br /><br />

Another cornerstone product is our line of gearboxes specifically designed for tough duty in wet cooling towers, fin-fan heat exchangers, and air-cooled condensers. In these applications, a motor is coupled to the input shaft and a fan is mounted to the output shaft. These applications span industries from electrical power generation, to HVAC, to any process cooling.<br /><br />

Our right angle drives are offered in a variety of models, ratios, and power ratings. Rated power range is from 5 HP (3.7 kW) to 3,000 HP (2,237 kW).<br /><br />
<h2>Our Services</h2>

What sets us apart is we offer the only complete gear drive testing facility in the industry. Using our “state-of-the-art” testing laboratory, we can provide complete noise, temperature, and vibration certification. All data is taken under full thrust and power loading up to 500 HP (373 kW).<br /><br />

We also maintain a strict quality program which involves each employee. We are ISO 9001:2008 compliant. Gear drives are manufactured to precise specifications from top quality materials. Permanent records are kept on each gear drive for future reference, when quick and accurate replacement parts are required. Your Amarillo Gear investment is increased by our maintenance of an accurate parts history.<br /><br />
<h2>Our Locations</h2>

Amarillo Gear Company is a Marmon Water/Berkshire Hathaway company. Our headquarters and primary manufacturing plant are located in Amarillo, Texas. We have an associated plant in Monterrey, Mexico.<br /><br />
<h2>Our Affiliations</h2>

Industry affiliations include membership in the American Gear Manufacturers Association, the Cooling Technology Institute, the National Ground Water Association, Factory Mutual, and the American Society of Heating, Refrigeration, Ventilation and Air Conditioning.
</p>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@
